<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Smart Mbolea</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <!-- fertilizer programs -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Fertilizer Programs<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>
    <!-- --end-- -->

      <!-- Field Test Programs -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Field Test<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>
      <!-- end test -->

      <!-- Crops -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Crops<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>
      <!-- End Crops -->

      <!-- Fertilizers -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Fertilizers<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>
      <!-- End Fertiliser -->

    </ul>
    <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<!-- main content -->
<div class="main" style="margin-bottom: 500px">
  <section class="container">
    <div class="row" style="margin-top: 25px;">
      <div class="col-md-4">
        <div class="view overlay hm-black-strong">
          <!-- <img class="img-fluid" src="assets/map.jpg"> -->
          <div class="card" style="height: 190px;background-color: #9ED465;">
            <div class="card-body text-white">
              Fertilizer Components
            </div>
          </div>
          <div class="mask rgba-green-strong">
            <div style="margin-top:45px;">
              <ol style="list-style: bullet;">
                <li><a href="#" class="text-white">Add Fertiliser</a></li>
                <li><a href="#" class="text-white">Test Fertiliser</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="view overlay hm-black-strong">
          <!-- <img class="img-fluid" src="assets/map.jpg"> -->
          <div class="card" style="height: 190px;background-color: #539160;">
            <div class="card-body text-white">
              Fertilizer Components
            </div>
          </div>
          <div class="mask rgba-green-strong">
            <div style="margin-top:45px;">
              <ol style="list-style: bullet;">
                <li><a href="#" class="text-white">Add Fertiliser</a></li>
                <li><a href="#" class="text-white">Test Fertiliser</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="view overlay hm-black-strong">
          <!-- <img class="img-fluid" src="assets/map.jpg"> -->
          <div class="card " style="height: 190px;background-color: #B1A491;">
            <div class="card-body text-white">
              Fertilizer Components
            </div>
          </div>
          <div class="mask rgba-green-strong">
            <div style="margin-top:45px;">
              <ol style="list-style: bullet;">
                <li><a href="#" class="text-white">Add Fertiliser</a></li>
                <li><a href="#" class="text-white">Test Fertiliser</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 25px;">
      <div class="col-md-4">
        <div class="view overlay hm-black-strong">
          <!-- <img class="img-fluid" src="assets/map.jpg"> -->
          <div class="card " style="height: 190px;background-color: #539160;">
            <div class="card-body text-white">
              Fertilizer Components
            </div>
          </div>
          <div class="mask rgba-green-strong">
            <div style="margin-top:45px;">
              <ol style="list-style: bullet;">
                <li><a href="#" class="text-white">Add Fertiliser</a></li>
                <li><a href="#" class="text-white">Test Fertiliser</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="view overlay hm-black-strong">
          <!-- <img class="img-fluid" src="assets/map.jpg"> -->
          <div class="card" style="height: 190px;background-color: #F6BB43;">
            <div class="card-body text-white">
              Fertilizer Components
            </div>
          </div>
          <div class="mask rgba-green-strong">
            <div style="margin-top:45px;">
              <ol style="list-style: bullet;">
                <li><a href="#" class="text-white">Add Fertiliser</a></li>
                <li><a href="#" class="text-white">Test Fertiliser</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="view overlay hm-black-strong">
          <!-- <img class="img-fluid" src="assets/map.jpg"> -->
          <div class="card" style="height: 190px;background-color: #83A3BC;">
            <div class="card-body text-white">
              Fertilizer Components
            </div>
          </div>
          <div class="mask rgba-green-strong">
            <div style="margin-top:45px;">
              <ol style="list-style: bullet;">
                <li><a href="#" class="text-white">Add Fertiliser</a></li>
                <li><a href="#" class="text-white">Test Fertiliser</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- end main -->



