<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Smart Mbolea</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <!-- fertilizer programs -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Fertilizer Programs<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>
    <!-- --end-- -->

      <!-- Field Test Programs -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Field Test<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>
      <!-- end test -->

      <!-- Crops -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Crops<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>
      <!-- End Crops -->

      <!-- Fertilizers -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Fertilizers<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>
      <!-- End Fertiliser -->

    </ul>
    <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<!-- main content -->
<div class="main" style="margin-bottom: 500px">
  <section class="container">
    <div class="row" style="margin-top: 25px;">
      <div class="col-md-4 animated fadeInUp">
        <div class="view overlay hm-black-strong">
          <!-- <img class="img-fluid" src="assets/map.jpg"> -->
          <div class="card" style="height: 190px;background-color: #9ED465;">
            <div class="card-body text-white text-center">
              <h4>Fertilizer Programs</h4>
              <i class="fa fa-tasks" style="font-size: 50px"></i>
            </div>
          </div>
          <div class="mask rgba-green-strong">
            <div style="margin-top:45px;">
              <ul class="items">
                <li><a href="#" class="items-li">Soil Grown Crops</a></li>
                <li><a href="#" class="items-li">Nutrient Solution</a></li>
                <li><a href="#" class="items-li">Fertilizer Programs</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 animated fadeInDown">
        <div class="view overlay hm-black-strong">
          <!-- <img class="img-fluid" src="assets/map.jpg"> -->
          <div class="card" style="height: 190px;background-color: #539160;">
            <div class="card-body text-white text-center">
              <h4>Farm Management</h4>
              <i class="fa fa-scroll" style="font-size: 50px"></i>
            </div>
          </div>
          <div class="mask rgba-green-strong">
            <div style="margin-top:45px;">
              <ul class="items">
                <li><a href="#" class="items-li">Farm Dashboard</a></li>
                <li><a href="/farms" class="items-li">My Farm $ Fields</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 animated fadeInUp">
        <div class="view overlay hm-black-strong">
          <!-- <img class="img-fluid" src="assets/map.jpg"> -->
          <div class="card " style="height: 190px;background-color: #B1A491;">
            <div class="card-body text-white text-center">
              <h4>Field Test Results</h4>
              <i class="fas fa-vial" style="font-size: 50px"></i>
            </div>
          </div>
          <div class="mask rgba-green-strong">
            <div style="margin-top:45px;">
              <ul class="items">
                <li><a href="#" class="items-li">Soil Analysis</a></li>
                <li><a href="#" class="items-li">Water Analysis</a></li>
                <li><a href="#" class="items-li">PH Records</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 25px;">
      <div class="col-md-4 animated fadeInLeft">
        <div class="view overlay hm-black-strong">
          <!-- <img class="img-fluid" src="assets/map.jpg"> -->
          <div class="card " style="height: 190px;background-color: #539160;">
            <div class="card-body text-white text-center">
              <h4>Crop Database</h4>
              <i class="fa fa-leaf" style="font-size: 50px"></i>
            </div>
          </div>
          <div class="mask rgba-green-strong">
            <div style="margin-top:45px;">
              <ul class="items">
                <li><a href="#" class="items-li">Soil Grown Crops</a></li>
                <li><a href="#" class="items-li">Hydroponic Crops</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 animated fadeInUp">
        <div class="view overlay hm-black-strong">
          <!-- <img class="img-fluid" src="assets/map.jpg"> -->
          <div class="card" style="height: 190px;background-color: #F6BB43;">
            <div class="card-body text-white text-center">
              <h4>Fertilizers</h4>
              <i class="fa fa-spa" style="font-size: 50px"></i>
            </div>
          </div>
          <div class="mask rgba-green-strong">
            <div style="margin-top:45px;">
              <ul class="items">
                <li><a href="#" class="items-li">Edit/View</a></li>
                <li><a href="#" class="items-li">Add a Fertiliser</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 animated fadeInRight">
        <div class="view overlay hm-black-strong">
          <!-- <img class="img-fluid" src="assets/map.jpg"> -->
          <div class="card" style="height: 190px;background-color: #83A3BC;">
            <div class="card-body text-white text-center">
              <h4>Account Settings</h4>
              <i class="fa fa-user" style="font-size: 50px"></i>
            </div>
          </div>
          <div class="mask rgba-green-strong">
            <div style="margin-top:45px;">
              <ul class="items">
                <li><a href="#" class="items-li">User Settings</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- end main -->



