body{
    background :url('/assets/background.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 600px;
  }
  
.items{
    list-style-type: none;
}
.items-li{
    color: white;
}
.items-li:hover{
    color: rgb(119, 77, 58);
}